form {
    display: block;
    margin-top: 0em;
}

body {
    margin: 0PX AUTO;
    font-family: VERDANA;
    font-size: 16PX;
    font-style: NORMAL;
    font-variant: NORMAL;
    color: MAROON;
}
div {
    display: block;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}

 input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

user agent stylesheet center {
    display: block;
    text-align: -webkit-center;
}
.logo {
    background-image: url(images/PNBLogo_bg.jpg);
    background-position: top center;
    background-repeat: repeat-x;
    background-color: Maroon;
}

table {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    width: 100%;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgb(236, 232, 211)
    
}
    table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

 center {
    text-align: -webkit-center;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

user agent stylesheet table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

user agent stylesheet center {
    text-align: -webkit-center;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.Menu tr td a {
    color: Maroon;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
}